@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@import "../../packages/ui/colors.css";

@theme inline {
	--font-sans: "Inter_400Regular";
	--font-mono: "JetBrainsMono_400Regular";
	--font-mono-medium: "JetBrainsMono_600SemiBold";
	--font-mono-semibold: "JetBrainsMono_600SemiBold";
	--font-mono-bold: "JetBrainsMono_700Bold";
	--font-sans-medium: "Inter_500Medium";
	--font-sans-semibold: "Inter_600SemiBold";
	--font-sans-bold: "Inter_700Bold";

	--spacing: 4px;

	--text-xs: 12px;
	--text-xs--line-height: 1.333;
	--text-sm: 14px;
	--text-sm--line-height: 1.429;
	--text-base: 16px;
	--text-base--line-height: 1.5;
	--text-lg: 18px;
	--text-lg--line-height: 1.556;
	--text-xl: 20px;
	--text-xl--line-height: 1.4;
	--text-2xl: 24px;
	--text-2xl--line-height: 1.333;
	--text-3xl: 30px;
	--text-3xl--line-height: 1.2;
	--text-4xl: 36px;
	--text-4xl--line-height: 1.111;
	--text-5xl: 48px;
	--text-5xl--line-height: 1;
	--text-6xl: 60px;
	--text-6xl--line-height: 1;
	--text-7xl: 72px;
	--text-7xl--line-height: 1;
	--text-8xl: 96px;
	--text-8xl--line-height: 1;
	--text-9xl: 128px;
	--text-9xl--line-height: 1;

	--radius-xs: 2px;
	--radius-sm: 4px;
	--radius-md: 6px;
	--radius-lg: 8px;
	--radius-xl: 12px;
	--radius-2xl: 16px;
	--radius-3xl: 24px;
	--radius-4xl: 32px;
}

@layer utilities {
	.font-sans {
		font-family: var(--font-sans);
	}
	.font-sans-medium {
		font-family: var(--font-sans-medium);
	}
	.font-sans-semibold {
		font-family: var(--font-sans-semibold);
	}
	.font-sans-bold {
		font-family: var(--font-sans-bold);
	}
	.font-mono {
		font-family: var(--font-mono);
	}
	.font-mono-medium {
		font-family: var(--font-mono-medium);
	}
	.font-mono-semibold {
		font-family: var(--font-mono-semibold);
	}
	.font-mono-bold {
		font-family: var(--font-mono-bold);
	}
	.font-medium {
		font-family: var(--font-sans-medium);
	}
	.font-semibold {
		font-family: var(--font-sans-semibold);
	}
	.font-bold {
		font-family: var(--font-sans-bold);
	}
}

@layer base {
	* {
		font-family: var(--font-sans);
	}
}
